$primaryColor: #026E81;
$secondaryColor: #235902;
$fontColor: #333;
$accentColor: #D96941;
$tertiaryColor: #A62B1F;
$fourthColor: #400036;
$darkBlue: #193C40;
$lightBlue: #A1C7E0;
$lightOrange: #FF9933;

$defaultFont: 'Lato', sans-serif;
$lightWeight:300;
$normalWeight:400;
$boldWeight:700;


$gutter: 16px;